<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829997685080-1l3k1q3vnqma6fr83008fqcefbgk6rd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829997685080-1l3k1q3vnqma6fr83008fqcefbgk6rd9</string>
	<key>API_KEY</key>
	<string>AIzaSyCoFwWCyNK5brghjGXC0b2cEAt5ACcrpyY</string>
	<key>GCM_SENDER_ID</key>
	<string>829997685080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fincasys.fincasysapp</string>
	<key>PROJECT_ID</key>
	<string>fincasys-1f203</string>
	<key>STORAGE_BUCKET</key>
	<string>fincasys-1f203.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829997685080:ios:48a5f7d3597d06f4</string>
	<key>DATABASE_URL</key>
	<string>https://fincasys-1f203.firebaseio.com</string>
</dict>
</plist>